@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.home-header {
  text-align: center;
}

.song-search {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}