@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.home-header {
  text-align: center;
}

.song-search {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.feedback-headers {
  text-align: center;
  margin-top: 20px;
}

.feedback-section {
  text-align: center;
  background-color: rgb(168, 168, 168);
  border-style: solid;
  border-color: black;
  margin-bottom: 10px;
}

.feedback-body {
  margin-left: 75px;
  margin-right: 75px;
}