@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$masterFont: 'Montserrat' sans-serif;

#body {
  min-height: 100vh;
  background: linear-gradient(180deg, #8629FF 0%, #553AC0 100%);
}

.home-header {
  text-align: center;
  margin-top: 15px;
  font-family: $masterFont;
  font-weight: bold;
  color: white;
}

.feedback-headers {
  text-align: center;
  margin-top: 20px;
}

.feedback-section {
  text-align: center;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-right: none;
  border-left: none;
  border-width: 1px;
  padding-top: 10px;
}

.feedback-body {
  margin-left: 10%;
  margin-right: 10%;
}

.left-align {
  text-align: left;
}

.form__center-content {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100px;
}

.input-text {
  width: 400px;
  margin: 5px;
  text-align: center;
}

.input-submit {
  border-radius: 16px;
  margin-left: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: transparent;
  color:white;
  width: 101px;
  height: 39px
}

.small-margin {
  margin-left: 10px;
}

.center-parent {
  display: flex
}

.center-child {
  justify-content: center;
}

.title-header {
  font-family: Montserrat;
  color: white;
}

.login-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.login-content {
  border: 2px solid #1DB954;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  text-align: left;
  background-color: #FFFFFF;
}

.login-header {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1DB954;
  text-align: center;
}

.login-instructions {
  margin-bottom: 20px;
}

.login-instructions p {
  margin: 10px 0;
  color: #333333;
}

.login-feedback-list {
  list-style: disc;
  margin-left: 20px;
  color: #333333;
}

.login-feedback-list li {
  color: #333333;
}

.login-note {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ffffff;
}

.login-button-container {
  margin-top: 20px;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1DB954;
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #1ed760;
}

.release-year-section {
  margin-left: 35%;
  margin-right: 35%;
}

.success {
  background-color: #6aaa64;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  border-style: solid;
  border-color: #090808;
  border-width: 4px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.years-display {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px
}

.release-year-section {
  text-align: center;
}

#combo-box-demo {
  border-radius: 16px;
  font-family: $masterFont;
}

.general-text {
  font-family: $masterFont;
  font-weight: bold;
  color: white;
  text-align: center;
}

.playlist-buttons {
  background-color: transparent;
  border-radius: 16px;
  border-style: solid;
  border-color: white;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.playlist-selection {
  text-align: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
.game-section {
  color:white;
  margin-bottom: 10%;
}

.playlist-name {
  margin: 5px;
}

.track-total {
  font-size: smaller;
  font-style: italic;
  margin: 0px;
}